@mixin centering($hor: 50%, $ver: 50%){
	position: absolute;
	@if $ver == "none" {
		left: $hor;
		transform: translateX(-$hor);
	} @else {
		top: $ver;
		left: $hor;
		transform: translate(-$hor, -$ver);
	}
}

@mixin reset {
	box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//Animation to tooltip
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
